<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

<select id="getNoticeList" resultType="com.bookshop.domain.Notice">
		select * from notice order by resdate desc
	</select>
<select id="getNotice" parameterType="int" resultType="com.bookshop.domain.Notice">
		select nno, title, content, author, filename, visited, resdate from notice where nno = #{nno}
	</select>	
</mapper>
